<nav>
  <div class="logo">
    <span>몽노캄</span>
  </div>
  <div class="page-menus">
    <ul>
      <li>
        <i class="fas fa-arrows-alt"></i>
      </li>
      <li>
        <i class="fas fa-box-open"></i>
      </li>
      <li>
        <i class="fas fa-user"></i>
      </li>
      <li>
        <i class="fas fa-sign-out-alt"></i>
      </li>
    </ul>
  </div>
  <div class="action-menus">
    <ul>
      <li class="btn-sign-up">
        <span>가입하기</span>
      </li>
      <li class="btn-login">
        <span>로그인</span>
      </li>
    </ul>
  </div>
</nav>
