<div class="provider list-container">
  <div class="provider-inside">
    <ng-template [ngIf]="isProviderLoading">
      <i class="fas fa-spinner fa-pulse"></i>
    </ng-template>
    <ng-template [ngIf]="!allRepos && !isProviderLoading">
      <p>Github에서 저장소를 불러 올까요?</p>
      <button (click)="loadReposPageHandler(1)">
        <i class="fab fa-github"></i>
        <i class="fas fa-share"></i>
        <i class="fas fa-list-ul"></i>
      </button>
    </ng-template>
    <ng-template [ngIf]="allRepos && !isProviderLoading">
      <ng-template [ngIf]="allRepos.length === 0">
        <p>no repos found.</p>
        <button (click)="loadReposPageHandler(1)">
          <span>retry</span>
          <i class="fas fa-redo-alt"></i>
        </button>
      </ng-template>
      <ng-template [ngIf]="allRepos.length > 0 && !isProviderLoading">
        <app-repo-list [isMakeUp]="true" [repos]="allRepos"></app-repo-list>
        <app-paginator
          [allPageNumArray]="allPageNumArray"
          (paginatingEvent)="loadReposPageHandler($event)"
        ></app-paginator>
      </ng-template>
    </ng-template>
  </div>
</div>
