:host {
  width: 100%;
  position: absolute;
  top: 0;
}

.alert-bar {
  width: 100%;
  height: 2.5rem;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  background-color: var(--warning);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
