<div
  class="repo-list-wrapper"
  [ngClass]="{ 'dragging-over-container': draggingOver, solo: !isMultiple }"
  (dragenter)="dragEnterOnList($event)"
  (dragover)="!draggingInList && dragOverOnList($event)"
  (dragleave)="!draggingInList && dragLeaveOnList($event)"
  (drop)="!draggingInList && dropOnList($event)"
>
  <ul [ngClass]="{ 'dragging-over-list': draggingOver }">
    <div class="dragging-overlay" *ngIf="draggingOver"></div>
    <li draggable="false">
      <span>{{ listName }}</span>
    </li>
    <li
      *ngFor="let repo of repos; index as i"
      [ngClass]="{
        'dragging-item': draggingInList && draggingStyling(repo.id)
      }"
      draggable="true"
      (dragstart)="dragStart($event, i, repo)"
      (dragenter)="draggingInList && dragEnterInList($event, i)"
      (dragend)="dragEnd()"
    >
      <app-repo
        [isDragging]="draggingInList && draggingStyling(repo.id)"
        [repoData]="repo"
      ></app-repo>
    </li>
  </ul>
</div>
