:host {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.repo-list-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.repo-list-wrapper.solo {
  width: 100%;
}

.repo-list-wrapper > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-box-color);
  border-radius: 1rem;
  scrollbar-width: none;
  overflow-y: auto;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.repo-list-wrapper > ul > li {
  width: 85%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.repo-list-wrapper > ul > li:not(:last-child) {
  margin-bottom: 0.7rem;
}

.dragging-over-container * {
  pointer-events: none;
  /* drag-leave 이벤트가 해당 드롭 영역에서만 발동하도록 해줌. */
}

.dragging-over-list {
  position: relative;
}

.dragging-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
