:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.greeting-message {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  border-radius: 1rem;
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
  background: var(--main-box-color) none;
}

button:hover {
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.9);
}

button:active {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.2);
}

.consumer.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-left: 2rem;
  overflow: auto;
}

.add-list-btn {
  display: block;
  width: 70%;
  padding: 20px;
}

.consumer-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.consumer-loading i {
  font-size: 3rem;
}

.no-my-lists {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
