:host {
  width: 100%;
  height: 100%;
  grid-area: main;
}

.consumer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
}

.add-list-btn {
  width: 90%;
  height: 10%;
  background: none;
  border: none;
  border-radius: 1rem;
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s;
}

.add-list-btn:hover {
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.5);
}

.add-list-btn:active {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.consumer > ul {
  height: 80%;
}
