<div class="provider list-container">
  <div class="provider-inside">
    <ng-template [ngIf]="!isAuthenticated">
      아래의 메뉴에서 Github 로그인을 하시면 저장소를 불러올 수 있습니다.
    </ng-template>
    <ng-template [ngIf]="isAuthenticated && isProviderLoading">
      <i class="fas fa-spinner fa-pulse"></i>
    </ng-template>
    <ng-template [ngIf]="isAuthenticated && isFirstTime">
      <p>Github에서 저장소를 불러 올까요?</p>
      <button (click)="loadReposHandler()">
        <i class="fab fa-github"></i>
        <i class="fas fa-share"></i>
        <i class="fas fa-list-ul"></i>
      </button>
    </ng-template>
    <ng-template
      [ngIf]="
        isAuthenticated &&
        !isFirstTime &&
        !isProviderLoading &&
        allRepos.length === 0
      "
    >
      <p>no repos found.</p>
      <button (click)="loadReposHandler()">
        <span>retry</span>
        <i class="fas fa-redo-alt"></i>
      </button>
    </ng-template>
    <app-repo-list
      [isAllRepos]="true"
      [repos]="allRepos"
      *ngIf="isAuthenticated && allRepos.length > 0 && !isProviderLoading"
    ></app-repo-list>
  </div>
</div>
<div class="consumer list-container">
  <button class="add-list-btn" (click)="onAddMyList()">
    <i class="fas fa-plus"></i>
  </button>
  <ul>
    <li *ngFor="let list of myLists">
      <app-repo-list
        [listName]="list['list-name']"
        [createdDate]="list['createdDate']"
        [listId]="list['id']"
        [repos]="list['list-repos']"
        (newListNameEvent)="editListName($event)"
      >
      </app-repo-list>
    </li>
  </ul>
</div>
