<div class="provider list-container">
  <div class="provider-inside">
    <ng-template [ngIf]="!isAuthenticated" [ngIfElse]="loggedIn">
      <p>아래의 메뉴에서 Github 로그인을 하시면 저장소를 불러올 수 있습니다.</p>
    </ng-template>
    <ng-template #loggedIn>
      <ng-template [ngIf]="isProviderLoading">
        <i class="fas fa-spinner fa-pulse"></i>
      </ng-template>
      <ng-template [ngIf]="!allRepos && !isProviderLoading">
        <p>Github에서 저장소를 불러 올까요?</p>
        <button (click)="firstLoadReposHandler()">
          <i class="fab fa-github"></i>
          <i class="fas fa-share"></i>
          <i class="fas fa-list-ul"></i>
        </button>
      </ng-template>
      <ng-template [ngIf]="allRepos && !isProviderLoading">
        <ng-template [ngIf]="allRepos.length === 0">
          <p>no repos found.</p>
          <button (click)="firstLoadReposHandler()">
            <span>retry</span>
            <i class="fas fa-redo-alt"></i>
          </button>
        </ng-template>
        <ng-template [ngIf]="allRepos.length > 0">
          <app-repo-list [isAllRepos]="true" [repos]="allRepos"></app-repo-list>
          <app-paginator [allPageNumArray]="allPageNumArray"></app-paginator>
        </ng-template>
      </ng-template>
    </ng-template>
  </div>
</div>
<div class="consumer list-container">
  <button class="add-list-btn" (click)="onAddMyList()">
    <i class="fas fa-plus"></i>
  </button>
  <ul>
    <li *ngFor="let list of myLists">
      <app-repo-list
        [listName]="list['list-name']"
        [createdDate]="list['createdDate']"
        [listId]="list['id']"
        [repos]="list['list-repos']"
        (newListNameEvent)="editListName($event)"
      >
      </app-repo-list>
    </li>
  </ul>
</div>
