:host {
  width: 100%;
  height: 100%;
  display: flex;
}

button {
  background: none;
  border: none;
  border-radius: 1rem;
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
}

button:hover {
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.9);
}

button:active {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.2);
}

.provider.list-container {
  padding-right: 2rem;
}

.provider-inside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.provider-inside button {
  width: 80%;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 7rem 0 7rem;
  box-sizing: border-box;
}

.provider-inside button i:not(:last-child) {
  margin-right: 1rem;
}

.provider-inside button i.fa-share {
  position: absolute;
  font-size: 1.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
}

.consumer.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-left: 2rem;
}

.add-list-btn {
  display: block;
  width: 70%;
  padding: 20px;
}
